.circle{
    width: 40px;
    height: 40px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

#contentcharacters{
    display: none;
}

.efect {
    animation: fadein 2s; 
}

@keyframes fadein {
    0% {
        opacity:0;
    }
    30% {
        opacity:0.5;
    }
    50%{
        opacity:0.8;
    }
    100% {
        opacity:1;
    }
}

.line {
    padding: 0;
    grid-area: vertical_line;
    border-left: 3px solid #979797;
    min-height: 25vh;
    display: flex;
    align-items: center;
  }
  
.point {
    position: relative;
    left: -6.6px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #f19d0a;
}